.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;



  .card-item {
    width: 40%;
    height: 100px;
    line-height: 100px;
    background-color: grey;
    margin: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
}



.jumbotron {
  margin-top: 25px;
}
